<!DOCTYPE html>
<head>
<style>
html{
   height: 10%;
}
html, body{
   background-image: url("../assets/portfolio-1.jpg");
   background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:100%;

}
</style>
</head>
<body>
<h1> Inicia sesión </h1>

<%= form_for(:session, url: '/ingresa') do |f| %>
   </br>
   </br>
  <%= f.email_field :email, :placeholder => "email" %>
  </br>
  </br>
  <%= f.password_field :password, :placeholder => "contraseña" %>
  </br>
  </br>
  <%= f.submit "Ingresar", class: "btn-submit" %>
  </br>
<% end %>
