<html>
<head>
  <title>ITAMudate</title>
</head>
<body>
   <h1>¡Bienvenido a ITAMudate!</h1>

   <h2> Te ayudamos a encontrar tu nuevo hogar </h2>

   <ul>
    <li> Comunidad </li>
    <p> Somos alumnos del ITAM ayudando a otros alumnos </p>
    <li> Variedad </li>
    <p> Encuentra muchas opciones para mudarte </p>
    <li> Rapidez </li>
    <p> Observa todo en una sola página </p>
    <li> Facilidad </li>
    <p> Elimina las distancias. Busca desde tu sillón. </p>
  </ul>


</body>
</htm>
