<h1> Casas disponibles </h1>

<table>
   <thead>
      <tr>
         <th> Título </th>
         <th> Contenido </th>
         <th> colspan="3" </th>
      </tr>
   </thead>

   <tbody>
      <%= @houses.each do |house| %>
      <tr>
         <td> <%= house.title %> </td>
         <td> <%= house.price %> </td>
         <td> <%= image_tag house.image.url(:medium) %> </td>
      </tr>
      <% end %>
   </tbody>
</table>
